---
import RegisterFormAdmin from "../components/RegisterFormAdmin.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="">
  <h2 class="md:text-4xl sm:text-3xl text-2xl text-center uppercase font-bold">
    Registrar nuevos usuarios
  </h2>
  <RegisterFormAdmin />
</Layout>
